
body {
    font-family: 'Poppins';
}

.navbar {
    border-radius:20px;
    border-width:2px;
}

#content {
    margin-top:20px;
}

.sticky-top { 
    top: 10px;
}

.active > span {
    font-style:italic;
    color:purple;
}

.nav-link:hover {
    background-color:white;
    color:blue;
}

.project-link {
    width:110%;
}

.project-link-span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.course {
    border-width:1px;
    border-radius:20px;
    border-style:hidden;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    width:100%;
}

.course-code {
    font-size:25px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.course-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size:20px;
}

.course-info {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size:15px;
    color:gray;
}

.course-heading {
    margin-top: 15px;
    font-size:20px;
}

.course-content {
    text-overflow: ellipsis;
    display: block;
    overflow-wrap: break-word;
    font-size:12px;
}

.courses-mini-title {
    font-weight: bold;
}

.project-link:hover {
    color: purple;
}

.content {
    font-size: 14px;
}

.experience {
    margin-bottom: 30px;
}

.project {
    border-radius: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.experience {
    border-radius: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.timestamp {
    font-style: italic;
}

.info {
    font-size: 15px;
    margin-bottom: 10px;
}